.imgContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.img {
    width: 300px;
}

.card {
    background-color: #1a1a1a;
}

.card-body {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-size: 30px;
}